/**
* COLORS
*/
$background-color: #131313;
$primary-color: #436c4a;
// $primary-color: #eec4ac;
// $primary-color: #39168b;
// $primary-color: #ddc354;
$primary-color: #d6b282;
$secondary-color: #ffffff;
