* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-color;

  font-family: 'Oswald', sans-serif;
  color: $secondary-color;

  overflow-x: hidden;
}

.link {
  text-decoration: none;
  color: inherit;
}

.page-enter-active,
.page-leave-active {
  transition: 2.5s all;
}
